@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
	--padding-container: 6.25rem 0;
	--color-title: #001a49;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

	padding: var(--padding-container);
}

.hero {
	width: 100%; /* para poner la imagen de fondo*/
	height: 100vh;
	min-height: 37.5rem; /*Espara problemas con ipads*/
	max-height: 50rem;
	position: relative;
	display: grid;
	grid-template-rows: 100px 1fr;
	color: #fff; /*todos los elementos dentro sean blancos*/
}
.hero::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
		url(../images/computer.jpg);
	background-size: cover;
	clip-path: polygon(
		0 0,
		100% 0,
		100% 75%,
		50% 95%,
		0 75%
	); /*establece la forma del pseudo-elemento*/
	z-index: -1; /* para que el texto quede por encima de la imagen*/
}

/* MENU DE NAVEGACIÓN */

.nav {
	--padding-container: 0; /*Esto para solo lo tenga el header  */
	height: 100%; /* establece la altura del contenedor principal de la navegación en 100% del tamaño del contenedor padre.*/
	display: flex;
	align-items: center; /* centra verticalmente el logo y menu*/
}

.nav__title {
	font-weight: 300; /* fuente de peso ligero para que sea más delgado el logo*/
}

.nav__link {
	margin-left: auto; /*para posicionar el menu a la derecha*/
	padding: 0; /*se utiliza para eliminar el relleno predeterminado*/
	display: grid; /*se utiliza para crear una cuadrícula para los elementos del menú*/
	grid-auto-flow: column; /*se utiliza para mostrar los elementos en una sola columna*/
	grid-template-columns: max-content; /* se utiliza para establecer el ancho de cada columna en el ancho máximo de su contenido*/
	gap: 2rem; /*se utiliza para agregar espacio entre las columnas.*/
}
.nav__items {
	list-style: none; /*eliminar los puntos predeterminados de la lista.*/
}
.nav__links {
	color: #fff;
	text-decoration: none; /*eliminar cualquier subrayado predeterminado.*/
}
.nav__menu {
	/*es una clase para el botón de menú desplegable*/
	margin-left: auto; /*para mover el botón hacia la derecha del contenedor*/
	cursor: pointer;
	display: none; /*se utiliza para ocultar el botón inicialmente.*/
}
.nav__img {
	display: block; /*se utiliza para asegurarse de que la imagen se muestre como un bloque en línea y no como un elemento de línea.*/
	width: 1.875rem;
}
.nav__close {
	/*es una clase para el botón de cierre del menú desplegable. */
	display: var(
		--show,
		none
	); /*se utiliza para establecer el valor de display en none si la variable personalizada --show no tiene un valor definido. Esto se usa para ocultar el botón de cierre cuando el menú no está abierto.*/
}

/* HERO CONTAINER*/

.hero__container {
	max-width: 800px; /*Establece el ancho máximo para el texto*/
	--padding-container: 0;
	display: grid;
	grid-auto-rows: max-content; /*Hace que cada fila de la cuadrícula tenga una altura dinámica en función del contenido que contenga.*/
	align-content: center; /* Centra el contenido verticalmente*/
	gap: 2rem; /*Establece un espacio */
	padding-bottom: 6.25rem; /* Agrega un relleno de 6.25 rem en la parte inferior del contenedor*/
	text-align: center; /* Centra el contenido horizontalmente */
}

.hero__title {
	font-size: 3rem;
}
.hero__paragraph {
	margin-bottom: 1.25rem;
}

/*botón de llamado a la acción*/
.cta {
	display: inline-block; /*Hace que el elemento sea un bloque de línea, ajustará automáticamente a su contenido */
	background-color: #2091f9;
	justify-self: center; /*Centra horizontalmente el elemento en su contenedor de cuadrícula, para que solo ocupe su contenido*/
	color: #fff;
	text-decoration: none;
	padding: 0.8125rem 1.875rem; /*Agrega relleno interno de 0.8125 rem en la parte superior y inferior del elemento, y 1.875 rem en los lados izquierdo y derecho.*/
	border-radius: 2rem;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
}

/* SECCIÓN ABOUT */

.about {
	text-align: center; /* Centro el texto de los elementos con clase ".about" */
}
.subtitle {
	color: var(--color-title); /* Color del título */
	font-size: 2rem; /* Tamaño de fuente del título */
	margin-bottom: 1.5625rem; /* Margen inferior del título */
}
.about__paragraph {
	line-height: 1.7; /* Altura de línea del párrafo */
}
.about__main {
	padding-top: 5rem; /* Espacio superior del contenedor principal */
	display: grid; /* Utilizo un grid para distribuir los elementos dentro del contenedor principal */
	width: 90%; /* Ancho del contenedor principal */
	margin: 0 auto; /* Centrar el contenedor principal horizontalmente */
	gap: 1rem; /* Espacio entre los elementos del grid */
	overflow: hidden; /* Ocultar cualquier contenido que se desborde */
	grid-template-columns: repeat(
		auto-fit,
		minmax(16.25rem, auto)
	); /* Crear un número variable de columnas en función del ancho del contenedor principal */
}
.about__icons {
	display: grid; /* Utilizo otro grid para distribuir los elementos con clase ".about__icons" */
	gap: 1rem; /* Espacio entre los elementos del grid */
	justify-items: center; /* Centrar los elementos horizontalmente en el grid */
	width: 16.25rem; /* Ancho de los elementos con clase ".about__icons" */
	overflow: hidden; /* Ocultar cualquier contenido que se desborde */
	margin: 0 auto; /* Centrar los elementos horizontalmente */
}
.about__icon {
	width: 2.8rem; /* Ancho de los iconos */
}

/* SECCIÓN CONOCIMIENTOS */

.knowledge {
	/* Este codigo lo copie de https://www.magicpattern.design/tools/css-backgrounds solo quite opacida y agregue overflow */
	background-color: #bacdc9; /* Establece el color de fondo de la sección en #bacdc9 */
	background-image: radial-gradient(#45bcf7 0.5px, transparent 0.5px),
		radial-gradient(#45bcf7 0.5px, #bacdc9 0.5px); /* Establece otro gradiente radial con un color #45bcf7 y #bacdc9
background-size: 20px 20px; // Establece el tamaño de los gradientes radiales */
	background-size: 20px 20px; /* Establece el tamaño de los gradientes radiales */
	background-position: 0 0, 10px 10px; /* Establece la posición de los gradientes radiales */
	overflow: hidden; /* Establece que el contenido excedente se oculte */
}
.knowledge__container {
	/* Define contenedor dentro de la sección de conocimiento */
	display: grid;
	grid-template-columns: 1fr 1fr; /* Establece dos columnas con el mismo ancho dentro de la cuadrícula */
	gap: 1rem;
	align-items: center;
}
.knowledge__picture {
	max-width: 31.25rem; /*  Establece el ancho máximo de la imagen en 31.25 rem */
}

.knowledge__paragraph {
	line-height: 1.7; /* Establece la altura de línea del párrafo en 1.7 */
	margin-bottom: 0.9375rem; /* para separar el boton del parrafo */
}

.knowledge__img {
	width: 100%; /* Establece el ancho de la imagen en 100% del contenedor padre */
	display: block; /*  Establece que la imagen sea un elemento en bloque para permitir la adición de margen y padding */
}
/* sección price */

.price {
	text-align: center; /* Esto alinea el texto dentro de la clase "price" al centro. */
}
.price__table {
	padding-top: 3.75rem; /* Agrega un espacio en la parte superior de la tabla */
	display: flex; /* Convierte el elemento en un contenedor flexible */
	flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
	gap: 2.5rem; /* Define el espacio entre los elementos */
	justify-content: space-evenly; /* Distribuye los elementos de manera uniforme en el contenedor */
	align-items: center; /* Centra los elementos verticalmente dentro del contenedor */
}

.price__element {
	background-color: #e5e5f7; /* Establece el color de fondo del elemento */
	text-align: center; /* Centra el texto dentro del elemento */
	border-radius: 10px; /* Agrega bordes redondeados al elemento */
	-webkit-border-radius: 10px; /* Agrega bordes redondeados para navegadores webkit */
	-moz-border-radius: 10px; /* Agrega bordes redondeados para navegadores mozilla */
	-ms-border-radius: 10px; /* Agrega bordes redondeados para navegadores de Microsoft */
	-o-border-radius: 10px; /* Agrega bordes redondeados para navegadores Opera */
	width: 330px; /* Define el ancho del elemento */
	padding: 40px; /* Agrega relleno (padding) alrededor del contenido del elemento */
	--color-plan: #696871; /* Define una variable CSS personalizada */
	--color-price: #1d293f; /* Define una variable CSS personalizada */
	--bg-cta: #fff; /* Define una variable CSS personalizada */
	--color-cta: #5454d4; /* Define una variable CSS personalizada */
	--color-items: #696871; /* Define una variable CSS personalizada */
}

.price__element--best {
	width: 370px; /* Define el ancho del elemento */
	padding: 60px 40px; /* Agrega relleno (padding) específico alrededor del contenido del elemento */
	background-color: #43aaff; /* Establece el color de fondo del elemento */
	--color-plan: rgb(
		255 255 255 / 75%
	); /* Define una variable CSS personalizada para el color del plan */
	--color-price: #fff; /* Define una variable CSS personalizada para el color del precio */
	--bg-cta: #19589f; /* Define una variable CSS personalizada para el color de fondo del botón */
	--color-cta: #ffffff; /* Define una variable CSS personalizada para el color del texto del botón */
	--color-items: #ffffff; /* Define una variable CSS personalizada para el color del texto de los elementos */
}

.price__name {
	color: var(
		--color-plan
	); /* Establece el color del texto utilizando una variable CSS personalizada */
	margin-bottom: 15px; /* Agrega un margen inferior al elemento */
	font-weight: 300; /* Establece el peso de la fuente del elemento */
}

.price__price {
	font-size: 2.5rem; /* Establece el tamaño de fuente del elemento */
	color: var(
		--color-price
	); /* Establece el color del texto utilizando una variable CSS personalizada */
}

.price__items {
	margin-top: 35px; /* Agrega un margen superior al elemento */
	display: grid; /* Establece el elemento como una cuadrícula (grid) */
	gap: 1rem; /* Define la separación entre las celdas de la cuadrícula */
	font-weight: 300; /* Establece el peso de la fuente del elemento */
	font-size: 1.2rem; /* Establece el tamaño de fuente del elemento */
	margin-bottom: 50px; /* Agrega un margen inferior al elemento */
	color: var(
		--color-items
	); /* Establece el color del texto utilizando una variable CSS personalizada */
}

.price__cta {
	display: block; /* Establece el elemento como un bloque (block) */
	padding: 20px 0; /* Agrega relleno (padding) específico alrededor del contenido del elemento */
	border-radius: 10px; /* Establece el radio de la esquina de los bordes del elemento */
	-webkit-border-radius: 10px; /* Establece el radio de la esquina de los bordes del elemento para navegadores webkit */
	-moz-border-radius: 10px; /* Establece el radio de la esquina de los bordes del elemento para navegadores mozilla */
	-ms-border-radius: 10px; /* Establece el radio de la esquina de los bordes del elemento para navegadores microsoft */
	-o-border-radius: 10px; /* Establece el radio de la esquina de los bordes del elemento para navegadores opera */
	text-decoration: none; /* Elimina la decoración de texto del elemento */
	background-color: var(
		--bg-cta
	); /* Establece el color de fondo del elemento utilizando una variable CSS personalizada */
	font-weight: 600; /* Establece el peso de la fuente del elemento */
	color: var(
		--color-cta
	); /* Establece el color del texto utilizando una variable CSS personalizada */
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5); /* Agrega una sombra al elemento */
}

/* sección price  end*/

/* sección testimonio  start*/
.testimony {
	background-color: #e5e5f7;
}

.testimony__container {
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	gap: 1em;
	align-items: center;
}

.testimony__body {
	display: grid;
	grid-template-columns: 1fr max-content;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	grid-column: 2/3;
	grid-row: 1/2;
	opacity: 0;
	pointer-events: none;
}

.testimony__body--show {
	pointer-events: unset;
	opacity: 1;
	transition: opacity 1.5s ease-in-out;
}

.testimony__img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
	object-position: 50% 30%;
}

.testimony__texts {
	max-width: 700px;
}

.testimony__course {
	background-color: #43aaff;
	color: #fff;
	display: inline-block;
	padding: 1px;
}

.testimony__arrow {
	width: 90%;
	cursor: pointer;
}

/* sección testimonio  end*/
